.form-group{
    margin-bottom:20px;
}

label{
    display:block;
    margin-bottom:8px;
    font-weight:bold;
}

input[type="date"],
input[type="number"],
textarea{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:16px;
    box-sizing:border-box;
}

textarea{
    resize:vertical;
}

.buttons{
    display:flex;
    justify-content:space-between;
    margin-top:25px;
}

button{
   background:#00007f;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background: #00007f;
}

.container{
    width: 400px;
    margin: 50px auto;
    padding: 25px;
    background: white;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
label{
    display:block;
    margin-top:15px;
    font-weight:bold;
}

input{
    width:100%;
    padding:10px;
    margin-top:5px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    width:100%;
    margin-top:20px;
    padding:10px;
    background:#00007f;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#000099;
}
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background: white;
}